#background {
    width: 100%;
    height: 100%;
    position:fixed;
}

a:hover {
    border: none;
    font-weight: bold;
}
.image-margins {
    margin-bottom: 20px;
}

.port-img {

    height: 204px;
    width: 100%;
}
